<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mbuddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <p>Mbuddy Database API</p>
  
  PRODUCTS
  <table>
    <tr>
      <td>/products</td>
      <td>Get all products (you can use <u>name</u>, <u>upc</u> and/or <u>ean</u> as querystring</td>
    </tr>
    <tr><td colspan=2><i>Example:</i> /products or /products/?name=honey or /products/?upc=123456789</td></tr>
    <tr>
      <td>/products/:id</td>
      <td>Get a product by ID</td>
    </tr>
  </table>

</body>
</html>
