<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mbuddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <p>Mbuddy Database API</p>
  
  PRODUCTS
  <p>(name, upc and ean as querystring in /products)</p>
  <ul>
    <li>/products</li>
    <li>/products/:id</li>
    <li>/products/:id/prices</li>
  </ul>

  PRICES
  <p>(product_id and store_id as querystring in /prices)</p>
  <ul>
    <li>/prices</li>
    <li>/prices/:id</li>
  </ul>

  STORES
  <p>(name, location, latitude and longitude as querystring in /stores)</p>
  <ul>
    <li>/stores</li>
    <li>/stores/:id</li>
    <li>/stores/:id/prices</li>
    <li>/stores/:id/products</li>
    <li>/stores/:id/products/:id</li>
  </ul>

  CATEGORIES
  <p>(name as querystring in /categories)</p>
  <ul>
    <li>/categories</li>
    <li>/categories/:id</li>
    <li>/categories/:id/products</li>
  </ul>

</body>
</html>
